-
  let characterFields = [
    {
      "title": "Name",
      "name": "character_name"
    },
    {
      "title": "Jägerstufe",
      "name": "hunter_level"
    },
    {
      "title": "Profession",
      "name": "profession"
    },
    {
      "title": "Motivation",
      "name": "motivation"
    },
    {
      "title": "Vorteil",
      "name": "advantage"
    },
    {
      "title": "Verderbnis",
      "name": "corruption"
    },
    {
      "title": "Segnungen",
      "name": "blessings"
    }
  ]
  
h2(data-i18n="character") Charakter
each field in characterFields
  label(data-i18n=field.name + "-u")= field.title
  input(type="text", name="attr_" + field.name)
