h1 Würfel
span HeXXenwürfel
button(type="roll", name="roll_hexxen", value="&{template:default} {{name=HeXXenw&uuml;rfel}} {{Ergebnis=[[?{Anzahl|1}d6>5]]}} {{Hinweis=1en sind halbe Erfolge!}}")
span Januswürfel
button(type="roll", name="roll_janus", value="&{template:default} {{name=Janusw&uuml;rfel}} {{Ergebnis=[[?{Anzahl|1}d6>4]]}}")
span Segnungswürfel
button(type="roll", name="roll_blessing", value="&{template:default} {{name=Segnungsw&uuml;rfel}} {{Ergebnis=[[?{Anzahl|1}d6>4]]}} {{Hinweis=1en und 2en sind halbe Erfolge und 6en sind 2 Erfolge!}}")
span Blutwürfel
button(type="roll", name="roll_blood", value="&{template:default} {{name=Blutw&uuml;rfel}} {{result=[[?{Anzahl|1}d6>2]]}} {{Hinweis=4en und 5en sind 2 Erfolge und 6en sind 3 Erfolge!}}")
span Elixirwürfel
button(type="roll", name="roll_elixir", value="&{template:default} {{name=Elixirw&uuml;rfel}} {{result=[[?{Anzahl|1}d6]]}} {{Hinweis=6en z&auml;hlen als 3!}}")
