h1 Würfel
table
  tr
    td HeXXenwürfel
    td
      button(type="roll", name="roll_hexxen", value="&{template:default} {{name=HeXXenw&uuml;rfel}} {{Ergebnis=[[?{Anzahl|1}d6>5]]}} {{Hinweis=1en sind halbe Erfolge!}}")
  tr
    td Januswürfel
    td
      button(type="roll", name="roll_janus", value="&{template:default} {{name=Janusw&uuml;rfel}} {{Ergebnis=[[?{Anzahl|1}d6>4]]}}")
  tr
    td Segnungswürfel
    td
      button(type="roll", name="roll_blessing", value="&{template:default} {{name=Segnungsw&uuml;rfel}} {{Ergebnis=[[?{Anzahl|1}d6>4]]}} {{Hinweis=1en und 2en sind halbe Erfolge und 6en sind 2 Erfolge!}}")
  tr
    td Blutwürfel
    td
      button(type="roll", name="roll_blood", value="&{template:default} {{name=Blutw&uuml;rfel}} {{result=[[?{Anzahl|1}d6>2]]}} {{Hinweis=4en und 5en sind 2 Erfolge und 6en sind 3 Erfolge!}}")
  tr
    td Elixirwürfel
    td
      button(type="roll", name="roll_elixir", value="&{template:default} {{name=Elixirw&uuml;rfel}} {{result=[[?{Anzahl|1}d6]]}} {{Hinweis=6en z&auml;hlen als 3!}}")
