h2(data-i18n="roles-u") Rollen
- for(let x = 1; x < 4; x++)
  label(data-i18n="role-" + x + "-u")= "Rolle #" + x
  input(type="text", name="attr_role_" + x)

h2(data-i18n="money-u") Geld
label(data-i18n="upkeep-u") Unterhalt
input(type="text", name="attr_upkeep")
label(data-i18n="assets-u") Verm&ouml;gen
input(type="text", name="attr_assets")
