h2 Rollen
- for(let x = 1; x < 4; x++)
  label= "Rolle #" + x
  input(type="text", name="attr_role_" + x)

h2 Geld
label Unterhalt
input(type="text", name="attr_upkeep")
label Verm&ouml;gen
input(type="text", name="attr_assets")
