mixin attributes(title, ...attrs)
  h2= title
  each attr in attrs
    span= attr
    input(type="number", name="attr_" + attr)

div.2colrow
  div.col
    include character.pug
  div.col
    include roles-and-money.pug
div.2colrow
  div.col
    include clothing.pug
  div.col
    h2 Restliche Ausr&uuml;stung
    textarea(name="attr_misc_gear")
div.2colrow
  div.col
    +attributes("Körperliche Attribute", "kkr", "ath", "ges", "coups")
    | /
    input(type="number", name="attr_coups_max", readonly)
  div.col
    +attributes("Geistige Attribute", "sin", "wis", "wil", "ideas")
    | /
    input(type="number", name="attr_ideas_max", readonly)
div.2colrow
  div.col
    h2 Ambitionen
    button(type="action", name="act_ambition_sub") -
    input(type="number", name="attr_ambition" readonly)
    button(type="action", name="act_ambition_add") +
  div.col
    h2 Rage
    button(type="action", name="act_rage_sub") -
    input(type="number", name="attr_rage", readonly)
    button(type="action", name="act_rage_add") +
div.2colrow
  div.col
    include skills.pug
  div.col
    include dice.pug
