mixin attributes(...attrs)
  each attr, i in attrs
    div
      h4= attr
      input(type="number", name="attr_" + attr)
      if(i === 3)
        | /
        input(type="number", name="attr_" + attr +  "_max", readonly)

div.2colrow
  div.col
    include character.pug
  div.col
    include roles-and-money.pug
div.2colrow
  div.col
    include clothing.pug
  div.col
    h2 Restliche Ausr&uuml;stung
    textarea(name="attr_misc_gear")
div.2colrow
  div.col
    h2 Körperliche Attribute
    div.flex-section
      +attributes("kkr", "ath", "ges", "coups")
      div
        h4 Coups Bonus
        input(type="number", name="attr_bonus_coups")
  div.col
    h2 Geistige Attribute
    div.flex-section
      +attributes("sin", "wis", "wil", "ideas")
      div
        h4 Ideen Bonus
        input(type="number", name="attr_bonus_ideas")
div
  h2 Ressourcen
  div.flex-section
    div
      h4 Segnungen
      button(type="action", name="act_blessings_sub") -
      input(type="number", name="attr_blessings" readonly)
      button(type="action", name="act_blessings_add") +
    div
      h4 Verderbnis
      button(type="action", name="act_corruption_sub") -
      input(type="number", name="attr_corruption" readonly)
      button(type="action", name="act_corruption_add") +
    div
      h4 Ambition
      button(type="action", name="act_ambition_sub") -
      input(type="number", name="attr_ambition" readonly)
      button(type="action", name="act_ambition_add") +
    div
      h4 Rage
      button(type="action", name="act_rage_sub") -
      input(type="number", name="attr_rage", readonly)
      button(type="action", name="act_rage_add") +
div.2colrow
  div.col
    include skills.pug
  div.col
    include dice.pug
