- for(col=1; col < 3; col++)
  div.col
    h2 J&auml;gerkr&auml;fte
    table
      tr
        th Name
        th Effekt
      - for(power=1; power < 5; power++)
        tr
          td
            input(type="text", name="attr_hunter_power_" + ((col - 1) * 4 + power))
          td
            input(type="text", name="attr_hunter_power_" + ((col - 1) * 4 + power) + "_effect")
